<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
        
    </startup>
  <connectionStrings>
    <add name="GalleryDatabase" providerName="System.Data.SqlClient"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
AttachDbFilename=C:\Users\Micha\Desktop\SDV701\Gallery_Data17\Gallery_Data.mdf;
Database=GALLERY_DATA.MDF"/>

</connectionStrings>
</configuration>


